
<!-- <h1>OPTION 1</h1>


<div class="container ">
  <div class="mx-auto form-frame" style="width: 800px;">

<form>
  <div class="form-row py-2">
      <label for="inputEmail4">First, tell us about yourself</label>
      <input type="email" class="form-control" id="inputEmail4" style="height: 100px;>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
       <label for="inputState">Where are you from?</label>
      <select id="inputState" class="form-control">
        <option selected>Spain</option>
        <option selected>France</option>
        <option selected>Portugal</option>
        <option selected>Germany</option>
        <option selected>Netherlands</option>

        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Which languages interest you?</label>
      <select id="inputState" class="form-control">
        <option selected>English</option>
        <option selected>French</option>
        <option selected>Spanish</option>
        <option selected>German</option>
        <option selected>Arabic</option>
        <option selected>Chinese</option>
      </select>
    </div>
  </div>
</div>



 -->

<!-- <h1>OPTION 2 (simple_form_for)</h1> -->





 <div class="container ">
  <div class="mx-auto form-frame" style="width: 800px;">




<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>


    <h4>Are you a student or a mentor ?</h4>
<div class= "d-flex">
  <div class= "d-flex">
    <input type="checkbox">
    <p>student</p>
  </div>
  <div class= "d-flex">
    <input type="checkbox">
    <p>mentor</p>
  </div>
</div>


   <h4>First, tell us about yourself</h4>
    <%= f.input :bio, required: true, autofocus: true %>



    <h4>Where are you from?</h4>
    <%= f.input :location, required: true, autofocus: true %>



    <h4>What is your first language?</h4>
    <%= f.input :language, collection: ["Mandarin Chinese",
  "Spanish",
  "English",
  "Hindi/Urdu",
  "Arabic",
  "Bengali",
  "Portuguese",
  "Russian",
  "Japanese",
  "German",
  "Javanese",
  "Punjabi",
  "Wu",
  "French",
  "Telugu",
  "Vietnamese",
  "Marathi",
  "Korean",
  "Tamil",
  "Italian",
  "Turkish",
  "Cantonese/Yue"]%>


  <h4>Let's add a profile picture!</h4>
  <%= f.input :photo, as: :file %>
   <a href="#section-four" class="btn btn-flat">Next</a>



<!-- <div class="container mt-5" style="height: 40vh;" id="mdo">
  <h2>Let's add a profile picture!</h2>
  <%= f.input :photo, as: :file %>
   <a href="#section-four" class="btn btn-flat">Next</a>
</div> -->


  <div class="form-inputs">

  </div>
</div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>


