
<div class="container ">
  <div class="mx-auto form-frame" style="width: 800px;">




<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>



   <h4>First, tell us about yourself</h4>
    <%= f.input :bio, required: true, label: false, autofocus: true %>

<div class="row">
  <div class="col-4">
    <h4>Where are you from?</h4>
    <%= f.input :location, required: true, label: false, autofocus: true %>
  </div>
    <div class="col-6">
     <h4>What is your first language?</h4>
    <%= f.input :language, label: false, collection: ["Mandarin Chinese",
  "Spanish",
  "English",
  "Hindi/Urdu",
  "Arabic",
  "Bengali",
  "Portuguese",
  "Russian",
  "Japanese",
  "German",
  "Javanese",
  "Punjabi",
  "Wu",
  "French",
  "Telugu",
  "Vietnamese",
  "Marathi",
  "Korean",
  "Tamil",
  "Italian",
  "Turkish",
  "Cantonese/Yue"]%>

    </div>
  </div>



  <h4> Let's add a profile picture!</h4>
  <%= f.input :photo, label: false, as: :file %>
   <a href="#section-four" class="btn btn-flat">Next</a>

</div>

<div class="card" style="width: 27rem, m-">
 <div class="container" style="width: 400px;">
  <div class="form-inputs">



    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions" class="btn btn-flat">
    <%= f.submit "Update", class: "btn-flat" %>

  </div>
<% end %>

<br>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>


</div>
</div>




