<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.irishtimes.com/polopoly_fs/1.3484190.1525432416!/image/image.jpg_gen/derivatives/box_620_330/image.jpg);">
  <div class="container">
    <form action="/results">
      <input type="text" name="query" value="<%= params[:query] %>">
      <button class="btn btn-flat" type="submit" >Search</button>
    </form>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">

      <%= link_to 'Mentors', results_path( query: params[:query]), class:  "btn btn-secondary #{' active'if !params[:type].present?}"   %>
      <%= link_to 'Students', results_path(type: 'student', query: params[:query]), class:  "btn btn-secondary #{' active'if params[:type].present?}" %>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-4">
      <h2 class=" title">Filters</h2>
      <div class="filter-box">
        <p>Best ratings</p>
        <hr>
        <p>Location</p>
        <hr>
        <p></p>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <% @users.each do |u| %>
        <div class="col-12 my-2">
          <div class="card-user">
            <div class="card-top-part">
              <div class="card-left text-center">
                <img src="https://image.flaticon.com/icons/svg/847/847969.svg" width="120" alt="">
                <%= link_to 'Get help', profile_path(u), class: 'btn btn-flat mt-4' %>
              </div>
              <div class="card-right ml-4">
                <h5><%= u.full_name %></h5>
                <h5>Ratings</h5>
                <% u.teaching_subjects.each do |s| %>
                <div class="tag"><%= s.name %></div>
                <% end %>
                <p><%= u.bio %></p>
              </div>
            </div>
            <hr>
            <div class="card-extra-info">
              <p>
                <img src="https://image.flaticon.com/icons/svg/3068/3068550.svg" width="30" alt="">
                English, French, Spanish
              </p>
              <p><img src="https://image.flaticon.com/icons/svg/3014/3014764.svg" width="30" alt="">
                <%= u.location %>
              </p>
              <p><img src="https://image.flaticon.com/icons/svg/3094/3094812.svg" width="30" alt="">
                444 reviews
              </p>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
