<div class="banner" style="margin-bottom: 150px;background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "results_banner.png" %>);">
  <div class="container" data-controller="autocomplete">
    <div class="row">
      <div class="col-5">
        <div class="filter-box">
          <form action="/results">
            <h5 class="sub-heading ">What do you want to study?</h5>
            <input placeholder="Search for a subject" autocomplete="off" data-target='autocomplete.input' data-action="keyup->autocomplete#suggest" type="text" name="query" id="search" value="<%= params[:query] %>">
              <ul data-target='autocomplete.suggestions' id="display-sugg" class="">
              </ul>
          </form>
          <div class="type my-4">
            <h5 class="sub-heading">Who do you want to study with?</h5>
              <%= link_to 'Students', results_path(type: 'student', query: params[:query]), class: "btn btn-ghost #{'active-btn' if params[:type]}" %>
              <%= link_to 'Mentors', results_path( query: params[:query]), class: "btn btn-ghost #{'active-btn' if !params[:type]}"  %>
          </div>

            <h5 class="sub-heading">You can also filter by:</h5>
            <div class="extra-filter d-flex">
              <div class="dropdown">
              <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Languages
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% User.languages_from_search(@users).each do |language| %>
                  <%= link_to language, results_path(request.params.merge(language: language)), class: 'dropdown-item'   %>
                <% end %>
              </div>
            </div>
            <% if !params[:type] %>
              <div class="dropdown mx-3">
                <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Price
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Lowest first', results_path(request.params.merge(price: 'low_first')), class: 'dropdown-item'   %>
                <%= link_to 'Highest first', results_path(request.params.merge(price: 'highest_first')), class: 'dropdown-item'   %>
              </div>
            </div>
          <% end %>
            <% if user_signed_in? %>
          <i class="fas fa-compass ml-3 m-1"></i>
           <%= link_to 'In my city', results_path(request.params.merge(city: current_user.location)), style: 'color: black'  %>
           <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-4">
    <% if  params[:query].blank? || @users.count == 0 %>
        <h4 class="col-12 text-center">
          <% if params[:query] == '' %>
            Please be sure to search for at least one subject
          <% else %>
           Looks like we couldn't find anything for <strong><%= params[:query] if present? %></strong> </h4>
           <% end %>
        <div class="col-12 text-center my-5">
          <img src="https://image.flaticon.com/icons/svg/2353/2353678.svg" width="200" alt="">
        </div>
    <% else %>
    <% @users.each do |u| %>
        <div class="col-10 my-2 mx-auto">
          <div class="card-user">
            <div class="card-top-part">
              <div class="card-left text-center">
                <% if u.photo.attached? %>
                  <%= cl_image_tag u.photo.key, crop: :thumb, gravity: :face, width: 120, height: 120, class: "rounded-circle dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
                <% else %>
                 <img src="https://image.flaticon.com/icons/svg/847/847969.svg" width="120" class="rounded-circle dropdown-toggle", id="navbarDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false"  >
                <% end %>
                <%= link_to 'Get help', profile_path(u), class: 'btn btn-flat mt-4' %>
              </div>
              <div class="card-right ml-4">
                <h3> <strong><%= u.full_name  %></strong> </h3>
                <% u.teaching_subjects.each do |s| %>
                  <div class="tag"><%= s.name %></div>
                <% end %>
                <div class="extra-info">
                  <i class="far fa-star"></i>
                  <%= u.average_ratings if u.received_reviews.present? %>
                  (<%= u.received_reviews.count %> reviews)
                  <i class="fas fa-language"></i>
                  <%= u.language %>
                  <i class="fas fa-map-marker-alt"></i>
                  <%= u.location %>
                  <% if !params[:type] %>
                  <i class="fas fa-euro-sign"></i>
                  <%= humanized_money(u.price)%>/hour
                  <% end %>
                </div>

                <p><%= u.bio %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
<div class="col-3 mx-auto">
      <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>

</div>

