<div style="box-shadow: 0 0 15px rgba(0,0,0,0.2);" class="container bg-light">
  <div class="container my-5 pb-5">
    <div class="d-flex flex-column messages">
      <% @messages.each do |message| %>
        <% if message.user == current_user %>
          <div class="message text-right p-3 mb-2 right">

            <div class="message--author">
              <%= message.user.full_name %>
            </div>
            <div class="message--text">
              <% message.body.lines.each do |line| %>
                <p><%= line %></p>
              <% end %>
            </div>
            <span class="message--time">
              <%= message.message_time %>
            </span>
          </div>
        <% else %>

          <div class="message p-3 mb-2">

            <div class="message--author">
              <%= message.user.full_name %>
            </div>


            <div class="message--text">
              <% message.body.lines.each do |line| %>
                <p><%= line %></p>
              <% end %>
            </div>
            <span class="message--time">
              <%= message.message_time %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>


    <%= simple_form_for([@chat, @message]) do |f|%>
      <div class="d-flex align-items-center mt-5">
        <%= f.input :body, label: false, placeholder: "Type your message" %>


        <%= f.submit class: "btn btn-flat w-25" %>
      </div>

    <% end %>
  </div>
</div>


