<div class="container my-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="box profile-notification text-center">
        <p>Your profile is <%= current_user.completion_percentage %>% completed</p>
        <%= link_to 'Finish now', edit_user_registration_path %>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="background-color: green; width: <%= current_user.completion_percentage %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="box dashboard-info-box">
        <div class="left">
          <h5><%= current_user.full_name %></h5>
          <p><img src="https://image.flaticon.com/icons/svg/3050/3050241.svg" width="30" alt="">
            <%= current_user.earnings %> <%= "euro".pluralize(current_user.earnings) %> earned
            </p>
        </div>
        <div class="right">
          <%= link_to edit_user_registration_path do %>
            <i class="fas fa-ellipsis-v"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-6 col-sm-12">
      <div class="box dashboard-section">
        <h5 class="sub-heading">Booking requests</h5>
        <p>You have 2 requests pendings</p>
        <%= link_to 'Answer requests', root_url, class: 'btn btn-flat'  %>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="box dashboard-section">
        <h5 class="sub-heading">Bookings</h5>
        <% current_user.bookings_relationships.where(student_id: current_user.id).each do |f| %>
        <h5></h5>
        <%= f.start_date %>
        <%= f.start_date %>
        <br>
        <%= f.mentor.name %>
        <%= f.mentor.surname %>
        <br>
        <%= current_user.name %>
        <%= current_user.surname %>
        <%= f.mentor.price %>
        <br>
        <%= f.mentor.location %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 col-sm-12" >
        <p> You have
          <%= current_user.received_bookings.count %>
            booking requests pending
          </p>
        <%= link_to 'Answer requests', allbookings_path, class: 'btn btn-flat'  %>
      </div>
    </div>


    <div class="col-6">
      <div class="box dashboard-section">
        <h5 class="sub-heading">Reviews</h5>
        <p>
          <%= @reviews.count %> <%= "review".pluralize(@reviews.count) %>
            <% if @reviews.count > 0 %>
              (<%= current_user.average_ratings %>)
            <% end %>
        </p>
        <%= link_to 'See my reviews', profile_path(current_user), class: 'btn btn-flat'  %>
      </div>
    </div>

  </div>
</div>
</div>

