<div class="container my-5">
  <div class="row">
    <div class="col-8">
      <div class="box profile-notification text-center">
        <p>Your profile is <%= current_user.completion_percentage %>% completed</p>
        <%= link_to 'Finish now', edit_user_registration_path %>
      </div>
    </div>
    <div class="col">
      <div class="box dashboard-info-box">
        <div class="left">
          <h5><%= current_user.full_name %></h5>
          <p><img src="https://image.flaticon.com/icons/svg/3094/3094812.svg" width="30" alt="">
            <%= @reviews.count %> <%= "review".pluralize(@reviews.count) %>
            <% if @reviews.count > 0 %>
              (<%= current_user.average_ratings %>)
              <% end %>
            </p>
        </div>
        <div class="right">
          <%= link_to edit_user_registration_path do %>
            <i class="fas fa-ellipsis-v"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-6">
      <div class="box dashboard-section">
        <h5 class="sub-heading">Booking requests</h5>
        <p>You have 2 requests pendings</p>
        <%= link_to 'Answer requests', root_url, class: 'btn btn-flat'  %>
      </div>
    </div>
    <div class="col-6">
      <div class="box dashboard-section">
        <h5 class="sub-heading">Bookings</h5>
        <% current_user.bookings_relationships.where(student_id: current_user.id).each do |f| %>
        <h5></h5>
        <%= f.start_date %>
        <%= f.start_date %>
        <br>
        <%= f.mentor.name %>
        <%= f.mentor.surname %>
        <br>
        <%= current_user.name %>
        <%= current_user.surname %>
        <%= f.mentor.price %>
        <br>
        <%= f.mentor.location %>
        <% end %>
      </div>
    </div>

    <div class="col-6">
      <div class="box dashboard-section">
        <h5 class="sub-heading">Earnings</h5>
        <h5>You earned 220 euros</h5>
        <%= link_to 'View history', root_url, class: 'btn btn-flat'  %>
      </div>
    </div>

  </div>
</div>
</div>

